<section class="about section">
  <div class="about__intro section-intro section-center">
    <span class="section-pretitle">Over mijzelf</span>
    <h2 class="section-title">Ik doe meer dan alleen websites maken</h2>
  </div>
  <div class="about__content">
    <div class="about__content--col">
      <img src="images/about/about-festival.jpg" title="Solar Weekend Festival"/>
      <article>
        <h4>📸 &nbsp; Fotografie</h4>
        <p>Festivals, Evenementen en Bruiloften is waar ik mij thuis voel met een camera. Festivals als <a href="https://solarweekend.com/" target="blank" rel="external">Solar Weekend</a>, <a href="https://www.stereosunday.nl/" target="blank" rel="external">Stereo Sunday</a> of de <a href="https://www.boetezitting-venlo.nl/" target="blank" rel="external">Boetegewoeene Boetezitting</a>, prachtige bruiloften of conferenties.</p>
        <p>Een kleine greep uit mijn werk is te vinden op <a href="{{ author.social.instagram.url}}" rel="me" target="blank">Instagram</a> <small>Website coming soon™</small></p>
      </article>
    </div>
    <div class="about__content--col">
      <img src="images/about/about-credor.jpg" title="Solar Weekend Festival"/>
      <article>
        <h4>🐉 &nbsp; Dungeons &amp; Dragons</h4>
        <p>Als alter ego <a href="https://ddb.ac/characters/680276/2ZIGuU" rel="me" target="blank">Credor</a> (een Tiefling Monnik) of als Dungeon Master van een custom campaign, waan ik mij regelmatig in andere werelden.</p>
        <p>Een heerlijke uitlaatklep voor creativiteit, fantasy en improvisatie in &quot;The world's greatest roleplaying game&quot;.</p>
      </article>
    </div>
    <div class="about__content--col">
      <img src="images/about/about-schutterij.jpg" title="Solar Weekend Festival"/>
      <article>
        <h4>🔫 &nbsp; Schutterij</h4>
        <p>Schutter, Slagwerker en Bestuurslid. Bij de kleine schutterij <a href="https://www.facebook.com/Schutterij.St.Aldegundis" rel="external" target="blank">St. Aldegundis</a> uit Buggenum, schiet ik al een aantal jaren met scherp in het 6-tal.</p>
        <p>Natuurlijk hou ik ook van een biertje in de feesttent na de wedstrijden.</p>
      </article>
    </div>
    <div class="about__content--col">
      <img src="images/about/about-lego.jpg" title="Solar Weekend Festival"/>
      <article>
        <h4>🌳 &nbsp; De rest</h4>
        <p>Voor de rest heb ik vrij casual hobbies, zoals tuinieren, Lego, 3D-printen en bordspelletjes.</p>
        <p>Maar alsnog zit ik graag achter mijn laptop, ook als ik vrij ben. Dan werk ik aan sideprojects, zoals <a href="https://stefgeraets.github.io/battleroyale/" rel="external" target="blank">BattleRoyale D&amp;D tool</a> of een <a href="https://stefgeraets.github.io/DnDHelper/" rel="external" target="blank">D&amp;D Helper</a></p>
      </article>
    </div>
  </div>
</section>