<section class="contact section">
  <div class="contact__intro section-intro section-center">
    <p class="section-lead">In contact komen?</p>
  </div>
  <div class="contact__content">
    <p><strong>Gezellig!</strong> Koffie staat altijd klaar.</p>
    <p>Geef mij een <a href="tel:{{author.phoneUrl}}">belletje</a>, <a href="https://wa.me/{{author.phoneUrl}}">appje</a> of schiet een <a href="mailto:{{author.email}}">email</a> mijn inbox in.</p>
    <p>Hopelijk tot snel 👋</p>
  </div>
</section>