<section class="cv section">
  <div class="cv__intro section-intro">
    <span class="section-pretitle">Curriculum Vitae</span>
    <h2 class="section-title">Ik heb aan meer dan 50 websites gewerkt voor toffe klanten</h2>
    <p class="section-lead">Gewerkt aan gave projecten en toffe klanten zoals Fatboy, Philips Hue, Wickey, Bruynzeel en BAM Materieelverhuur</p>
  </div>
  <div class="cv__content">
    <div class="cv__content--col first">
      {% include "experiencelist.njk" %}
    </div>

    <div class="cv__content--col second">
      <dl class="cv__content--list">
        <dt>Wat ik doe</dt>
        <dd>Front-end developer, fotograaf</dd>
        <dt>Talen die ik spreek</dt>
        <dd>HTML, CSS/Sass, Javascript, Typescript, Ruby</dd>
        <dt>Frameworks</dt>
        <dd>Svelte, React, Redux, Vue, Ruby on Rails</dd>
        <dt>Build tools</dt>
        <dd>Vite, Webpack, Gulp, Grunt</dd>
        <dt>De toffe klanten &amp; projecten<dt>
        <dd>
          <a href="https://www.fatboy.com/nl-nl" rel="external" target="blank">Fatboy</a>, 
          <a href="https://apps.apple.com/us/app/philips-hue-gen-2/id1055281310" rel="external" target="blank">Hue App</a>, 
          <a href="https://wickey.nl" rel="external" target="blank">Wickey</a>, 
          <a href="https://www.majorrum.com/" rel="external" target="blank">MajorRum</a>, 
          <a href="https://bruynzeel-store.nl/" rel="external" target="blank">Bruynzeel</a>, 
          <a href="https://bammaterieelverhuur.nl/" rel="external" target="blank">BAM Materieelverhuur</a>, 
          <a href="https://tegelmegashop.nl/" rel="external" target="blank">TegelMegaShop</a>, 
          <a href="https://mijnvestjensbv.com/portal" rel="external" target="blank">Mijn Vestjens Stro</a>, 
          <a href="https://www.callowfit.store/" rel="external" target="blank">Callowfit</a>
        </dd>
      </dl>
      <div class="cv__education">
        <h3>Opleidingen</h3>
        <article class="exp">
          <div class="exp__toggle static">
            <div class="exp__toggle--img">
              {% image "./src/assets/images/experiences/zuyd.jpeg", "Hogeschool Zuyd", 64 %}
            </div>
            <div class="exp__toggle--content">
              <h4>HBO-ICT Information Management (Bachelor's degree)</h4>
              <p class="exp__toggle--content-place">Hogeschool Zuyd, Sittard/Heerlen</p>
              <p class="exp__toggle--content-date">2007 - 2016</p>
            </div>
          </div>
        </article>
        <article class="exp">
          <div class="exp__toggle static">
            <div class="exp__toggle--img">
              {% image "./src/assets/images/experiences/gilde_opleidingen.jpeg", "Gilde Opleindingen", 64 %}
            </div>
            <div class="exp__toggle--content">
              <h4>ICT-beheerder (Diploma behaald)</h4>
              <p class="exp__toggle--content-place">Gilde Opleidingen, Roermond</p>
              <p class="exp__toggle--content-date">2003 - 2007</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>