<section class="projects section">
  <div class="projects__intro section-intro section-center">
    <span class="section-pretitle">Over mijn werk</span>
    <h2 class="section-title">5+ jaar ervaring met websites, webshops en webapps</h2>
    <p class="section-lead">Mijn focus ligt op front-end development. De laatste jaren gewerkt met frameworks als React, VueJS en Ruby on Rails, maar ook met platformen als Magento en Shopify.  en de techniek achter Statische Websites: <a href="https://jamstack.org/" target="blank">JAMstack</a></p>
  </div>
  <div class="projects__content">

  </div>
</section>