<section class="work section">
  <div class="work__intro section-intro">
    <span class="section-pretitle">Over mijn werk</span>
    <h2 class="section-title">8+ jaar ervaring met websites, webshops en webapps</h2>
    <p class="section-lead">Mijn focus ligt op front-end development. De laatste jaren gewerkt met frameworks als Svelte, React, VueJS en Ruby on Rails, maar ook met platformen als Magento2 en Shopify. Met focus op usability en accessibility en een vleugje <a href="https://codecation-kabisa.vercel.app/" target="blank">animatie</a></p>
  </div>
  <div class="work__content">
    <div class="work__content--col">
      <h3>Front-end development</h3>
      <p>Ik heb vergaande kennis van HTML, CSS &amp; Javascript (Typescript) en ervaring met de populairste frameworks (Svelte, React en Vue). Voeg daar eindeloze nieuwsgierigheid, creativiteit en een vleugje humor aan toe en je hebt een aardig compleet beeld van mij.</p>
      <div class="work__content--logos">
        {% icon "javascript" %}
        {% icon "typescript" %}
        {% icon "svelte" %}
        {% icon "react" %}
        {% icon "vue" %}
        {% icon "eleventy" %}
      </div>
    </div>

    <div class="work__content--col">
      <h3>E-commerce</h3>
      <p>3+ jaar ervaring in de e-commerce wereld. Voornamelijk gewerkt met Magento, maar ook nieuwere platformen als Shopware. Zo heb ik samen met collega's de eerste VueJS PWA Magento webshop van Nederland ontwikkeld, <a href="https://majorrum.com" target="blank">Majorrum</a>.</p>
      <div class="work__content--logos">
        {% icon "magento-2" %}
        {% icon "vuestorefront" %}
        {% icon "shopware" %}
      </div>
    </div>
  </div>
</section>