<section class="work section">
  <div class="work__intro section-intro">
    <span class="section-pretitle">Over mijn werk</span>
    <h2 class="section-title">5+ jaar ervaring met websites, webshops en webapps</h2>
    <p class="section-lead">Mijn focus ligt op front-end development. De laatste jaren gewerkt met frameworks als VueJS en Ruby on Rails, maar ook met Magento 2 en de techniek achter Statische Websites: <a href="https://jamstack.org/" target="blank">JAMstack</a></p>
  </div>
  <div class="work__content">
    <div class="work__content--col">
      <h3>Front-end development</h3>
      <p>Ik heb vergaande kennis van HTML, CSS &amp; Javascript (ES6), ervaring met 2 van de 3 populairste frameworks (Vue en React). Voeg daar eindeloze nieuwsgierigheid, creativiteit en een GTD-mentaliteit aan toe en je hebt een aardig compleet beeld van mij.</p>
      <div class="work__content--logos">
        <img src="/images/brands/javascript.svg" inline title="Javascript"/>
        <img src="/images/brands/vue.svg" inline title="VueJS"/>
        <img src="/images/brands/react.svg" inline title="React"/>
        <img src="/images/brands/eleventy.svg" inline title="11ty"/>
        <img src="/images/brands/gatsby.svg" inline title="Gatsby"/>
      </div>
    </div>

    <div class="work__content--col">
      <h3>E-commerce</h3>
      <p>3+ jaar ervaring in de e-commerce wereld. Voornamelijk gewerkt met Magento, maar ook nieuwere platformen als Shopware. Zo heb ik samen met collega's de eerste VueJS PWA Magento webshop van Nederland ontwikkeld, <a href="https://majorrum.com" target="blank">Majorrum</a>.</p>
      <div class="work__content--logos">
        <img src="/images/brands/magento-2.svg" inline title="Magento"/>
        <img src="/images/brands/vuestorefront.svg" inline title="VueStorefront"/>
        <img src="/images/brands/shopware.svg" inline title="Shopware"/>
      </div>
    </div>
  </div>
</section>