{% include "partials/htmlhead.njk" %}

<header>
  <p class="logo"><a href="/"><img src="/images/logo.svg" width="108" height="28" inline/>Stef</a></p>
  <nav>
    {% navlist collections.all | eleventyNavigation, page, 1 %}
  </nav>
  <figure><img src="/images/{% if hero %}{{ hero }}{% else %}stef.jpg{% endif %}" alt="it's me, but in emoji form" /></figure>
</header>

<main>
{% block content %}
  <h1>{{ title }}</h1>

  {{ content | safe }}

  {% include "partials/pagelist.njk" %}

{% endblock %}
</main>

<footer>
  <nav>
    {% navlist collections.all | eleventyNavigation, page, 2 %}
  </nav>
</footer>

{% include "partials/htmlfoot.njk" %}