.fade-in {
  transform: translate(0, 0);
  animation: fadeInUp 500ms ease-out forwards;
  opacity: 0;
  will-change: opacity, transform;
}

.delay-200 {
  animation-delay: 200ms;
}
.delay-400 {
  animation-delay: 400ms;
}
.delay-600 {
  animation-delay: 600ms;
}
.delay-800 {
  animation-delay: 800ms;
}
.delay-1000 {
  animation-delay: 1000ms;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}