---
layout: base.njk
permalink: /
eleventyNavigation:
  key: home
  order: 100
---

<div class="hero">
  <div class="hero__content">
    <h1 class="hero__title fade-in delay-200">
      <span>Hey,&nbsp;</span>
      <div class="tooltip">
        Enne?
        <img src="images/help-circle.svg" class="icon icon-questionmark" inline />
        <span class="tooltip-content">
          De Limburgse equivalent van het franse <strong>ça va</strong>.<br /> Oftewel <em>Hoe is het?</em><br /> Deze wordt normaal beantwoord met <em>Auch Enne!</em>
        </span>
      </div>
    </h1>
    <p class="hero__pretitle fade-in delay-400">Ik ben Stef Geraets, </p>
    <p class="hero__lead fade-in delay-600 lead"><strong>Front-end developer</strong> en <strong>Fotograaf</strong> uit Midden-Limburg</p>
  </div>
  <div class="hero__image fade-in delay-800">
    <figure>
      <img src="/images/stef-thumbsup.png" alt="it's me, but in emoji form" />
    </figure>
  </div>
</div>



{%- for item in collections.experiences -%}
  <h4>{{ item.data.title }}</h4>
  {% if item.data.fromDate %}
    <p>{{ item.data.fromDate }} - {{ item.data.toDate}}</p>
  {% endif %}
  {% if item.data.tech %}
    <em>{{ item.data.tech}}</em>
  {% endif %}
  {{ item.templateContent | safe }}
{%- endfor -%}