---
layout: base
permalink: /
---

<div class="hero">
  <div class="hero__content">
    <h1 class="hero__title fade-in delay-200">
      <span>Hey,&nbsp;</span>
      <div class="tooltip">
        Enne?
        {% icon "help-circle" %}
        <span class="tooltip-content">
          De Limburgse equivalent van het franse <strong>ça va</strong>.<br /> Oftewel <em>Hoe is het?</em><br /> Deze wordt normaal beantwoord met <em>Auch Enne!</em>
        </span>
      </div>
    </h1>
    <p class="hero__pretitle fade-in delay-400">Ik ben Stef Geraets, </p>
    <p class="hero__lead fade-in delay-600 lead">Een ervaren <strong>front-end developer</strong> met passie voor <strong>Javascript</strong></p>
    <a href="{{ author.resume }}" download="{{ author.resumeName }}" title="CV 2020 Download" rel="me" class="btn-primary m-t fade-in delay-1000">Download CV</a>
  </div>
  <div class="hero__image fade-in delay-800">
    <figure>
      {% image "./src/assets/images/stef-thumbsup.png", "it's me, but in memoji form", 421 %}
    </figure>
  </div>
</div>

{% include "work.njk" %}

{% include "cv.njk" %}

{# {% include "projects.njk" %} #}

{% include "about.njk" %}

{% include "contact.njk" %}