<!DOCTYPE html>
<html class="no-js" lang="{{ site.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ site.title }}</title>
  
  <link rel="preload" href="{{ 'assets/fonts/poppins-regular.woff2' | url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'assets/fonts/poppins-semibold.woff2' | url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'assets/fonts/poppins-bold.woff2' | url }}" as="font" type="font/woff2" crossorigin>

  <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}" />
  
  {% include "meta.njk" %}
</head>
<body>
  <div hidden>{% iconsprite %}</div>
  
  <div class="layout" role="document">
    {% include "header.njk" %}

    <main class="main container" role="main">
      {{ content | safe }}
    </main>
    
    {% include "footer.njk" %}
  </div>

  <script type="text/javascript" src="{{ '/assets/scripts/main.js' | url }}"></script>
  <script type="text/javascript">
      if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/serviceworker.js')
      }
  </script>

</body>
</html>