.cv {
  &__content {
    padding: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    &--col {
      &.first {
        margin-bottom: 3rem;
      }
      &.second {
        display: flex;
        flex-direction: column;
      }
    }
    &--list {
      margin: 0;
      line-height: $text-2xl;
      dt {
        font-size: $text-sm;
        color: $gray-600;
        margin-bottom: 0.25rem;
      }
      dd {
        margin-left: 0;
        margin-bottom: 2rem;
      }
      a {
        color: $gray-800;
        text-decoration: underline;
        @include hover-focus {
          text-decoration: none;
        }
      }
    }
  }

  &__education {
    order: -1;
    h3 {
      font-weight: $weight-semi;
      font-size: $text-2xl;
      padding: 0 0 3rem;
    }
  }

  @include for-tablet-landscape-up {
    &__content {
      flex-wrap: nowrap;
      &--col {
        &.first {
          margin: 0 4rem 0 0;
          flex: 0 0 55%;
        }
      }
    }

    &__education {
      order: 2;
    }
  }
}